<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.mapper.FeeItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pms.entity.FeeItem">
        <id column="id" property="id" />
        <result column="property_id" property="propertyId" />
        <result column="name" property="name" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, property_id, name, amount
    </sql>

    <resultMap id="FeeItemPropertyDTOResultMap" type="com.pms.dto.FeeItemPropertyDTO">
        <!-- FeeItem表字段 -->
        <id property="feeItemId" column="id" />
        <result property="propertyId" column="property_id" />
        <result property="feeItemName" column="name" />
        <result property="amount" column="amount" />

        <!-- Property表字段 -->
        <result property="propertyName" column="property_name" />
        <result property="communityId" column="community_id" />
        <result property="contact" column="contact" />
        <result property="address" column="address" />
    </resultMap>

    <select id="selectFeeItemsWithProperty" resultMap="FeeItemPropertyDTOResultMap">
        SELECT f.id, f.name, f.amount,f.property_id,
        p.name AS property_name, p.community_id
        FROM fee_item f
        INNER JOIN property p ON f.property_id = p.id
        WHERE p.community_id = #{params.communityId}
        <if test="params.feeItemName != null and params.feeItemName != ''">
            AND f.name = #{params.feeItemName}
        </if>
        <if test="params.amount != null">
            AND f.amount = #{params.amount}
        </if>
    </select>


</mapper>
